@font-face {
  font-family: "clio_c_ultrablackultrablack";
  src: url("../fonts/clioc-ultrablack-webfont.woff2") format("woff2"), url("../fonts/clioc-ultrablack-webfont.woff") format("woff"), url("../fonts/clioc-ultrablack-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "futurademicregular";
  src: url("../fonts/futurademic-webfont.woff2") format("woff2"), url("../fonts/futurademic-webfont.woff") format("woff"), url("../fonts/futurademic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansbold_italic";
  src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-bolditalic-webfont.woff") format("woff"), url("../fonts/opensans-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansextrabold";
  src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff"), url("../fonts/opensans-extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansextrabold_italic";
  src: url("../fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabolditalic-webfont.woff") format("woff"), url("../fonts/opensans-extrabolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansitalic";
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/opensans-italic-webfont.woff") format("woff"), url("../fonts/opensans-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight_italic";
  src: url("../fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/opensans-lightitalic-webfont.woff") format("woff"), url("../fonts/opensans-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanssemibold";
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanssemibold_italic";
  src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-semibolditalic-webfont.woff") format("woff"), url("../fonts/opensans-semibolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.fri {
  display: inline-block;
  vertical-align: middle;
}

*[class="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-full-screen {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -627px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-full-screen {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -615px;
    height: 35px;
    width: 35px;
  }
}

.icon-pc {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 63px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-pc {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1135px;
    height: 56px;
    width: 63px;
  }
}

.icon-plastic {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1231px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 72px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-plastic {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1194px;
    height: 56px;
    width: 72px;
  }
}

.icon-building {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -522px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 57px;
  width: 56px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-building {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -515px;
    height: 57px;
    width: 56px;
  }
}

.icon-money {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -919px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 56px;
  width: 74px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-money {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -894px;
    height: 56px;
    width: 74px;
  }
}

.icon-webmoney {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -2031px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  width: 180px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-webmoney {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1966px;
    height: 45px;
    width: 180px;
  }
}

.icon-yad {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -2081px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 113px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-yad {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -2014px;
    height: 44px;
    width: 113px;
  }
}

.icon-qiwi {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1381px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 133px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-qiwi {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1339px;
    height: 44px;
    width: 133px;
  }
}

.icon-paypal {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1129px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 139px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-paypal {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1097px;
    height: 36px;
    width: 139px;
  }
}

.icon-visa {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1966px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  width: 164px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-visa {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1906px;
    height: 44px;
    width: 164px;
  }
}

.icon-broken-heart {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -243px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 274px;
  width: 274px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-broken-heart {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -238px;
    height: 274px;
    width: 274px;
  }
}

.icon-lang__rus {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -667px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-lang__rus {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -652px;
    height: 26px;
    width: 26px;
  }
}

.icon-roub {
  font-family: Arial;
}
.icon-roub.bold {
  font-weight: bold;
}

.icon-play-video {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1292px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 84px;
  width: 84px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-play-video {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1252px;
    height: 84px;
    width: 84px;
  }
}

.icon-cart {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -584px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 39px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-cart {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -574px;
    height: 38px;
    width: 39px;
  }
}

.icon-traffic-checked {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1786px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 21px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-traffic-checked {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1734px;
    height: 18px;
    width: 21px;
  }
}

.icon-traffic-cross {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1809px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 17px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-traffic-cross {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1754px;
    height: 18px;
    width: 17px;
  }
}

.icon-referal-person {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1430px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 167px;
  width: 167px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-referal-person {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1385px;
    height: 167px;
    width: 167px;
  }
}

.icon-logo-round {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -765px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 149px;
  width: 149px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-logo-round {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -743px;
    height: 149px;
    width: 149px;
  }
}

.icon-users {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1832px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 129px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-users {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1775px;
    height: 129px;
    width: 54px;
  }
}

.icon-line-chart {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -698px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 36px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-line-chart {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -681px;
    height: 31px;
    width: 36px;
  }
}

.icon-offer-arrow-right {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -980px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 17px;
  width: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-offer-arrow-right {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -953px;
    height: 17px;
    width: 24px;
  }
}

.icon-footer-logo {
  background-image: url('../images/footer-logo.png?1482296256');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 234px 26px;
  width: 234px;
  height: 26px;
  display: inline-block;
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon-footer-logo {
    background-image: url('../images/footer-logo@2x.png?1482296256');
  }
}

.icon-success {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1729px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .icon-success {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1679px;
    height: 52px;
    width: 52px;
  }
}

.clean-element, p {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: transparent;
  border-radius: none;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.-purple-text {
  color: #be11e1;
}

.-grey-text {
  color: #4a4a4a;
}

.-lightgrey-text {
  color: #a7a7a7;
}

.-white-text {
  color: #fff;
}

.dib {
  vertical-align: middle;
  display: inline-block;
}

.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-middle {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb90 {
  margin-bottom: 90px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr30 {
  margin-right: 30px;
}

.-text-center {
  text-align: center;
}

.-text-left {
  text-align: left;
}

.-text-right {
  text-align: right;
}

.-text-uppercase {
  text-transform: uppercase;
}

.button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background: linear-gradient(to top, #429321, #74ae0d);
  background: -webkit-linear-gradient(to top, #429321, #74ae0d);
  background: -moz-linear-gradient(to top, #429321, #74ae0d);
  background: -ms-linear-gradient(to top, #429321, #74ae0d);
  background: -o-linear-gradient(to top, #429321, #74ae0d);
  line-height: 50px;
  width: 225px;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
  font-family: open_sanssemibold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover, .button.active {
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.3);
}
.button.purple {
  background: linear-gradient(to top, #a149a9, #c732d4);
  background: -webkit-linear-gradient(to top, #a149a9, #c732d4);
  background: -moz-linear-gradient(to top, #a149a9, #c732d4);
  background: -ms-linear-gradient(to top, #a149a9, #c732d4);
  background: -o-linear-gradient(to top, #a149a9, #c732d4);
}
.button.db {
  width: 100%;
}
.button.empty {
  background: transparent;
  box-shadow: 0 0 0 1px #cecece;
  color: #2c2c2c;
  font-family: open_sanssemibold;
}

.hidden {
  display: none;
}

.table {
  display: table;
  width: 100%;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.table-group {
  display: table-row-group;
}

.fz0 {
  font-size: 0;
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz30 {
  font-size: 30px;
}

.fz33 {
  font-size: 33px;
}

.fz44 {
  font-size: 44px;
}

.fz77 {
  font-size: 77px;
}

.lh1 {
  line-height: 1;
}

.jq_checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #979797;
  background: #f6f6f6;
}
.jq_checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  border: none;
}
.jq_checkbox input[type="checkbox"]:checked + .jq_checkbox__detector {
  opacity: 1;
}

.jq_checkbox__detector {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 3px;
  display: block;
  opacity: 0;
  background: #e331b2;
}

.ff-semibold {
  font-family: open_sanssemibold;
}

.ff-bold {
  font-family: open_sansbold;
}

.ff-futura {
  font-family: futurademicregular;
}

input[type="text"], input[type="email"], input[type="password"] {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
  height: 50px;
  outline: none;
  padding: 0 15px;
  font-family: open_sansregular;
}
input[type="text"].db, input[type="email"].db, input[type="password"].db {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.last-chilnd-no-mb > *:last-child {
  margin-bottom: 0;
}

.w48 {
  width: 48%;
}

.w32 {
  width: 32%;
}

.purple-link {
  color: #ee3db4;
  text-decoration: underline;
}
.purple-link:hover {
  text-decoration: none;
}

a.inherit {
  color: inherit;
  text-decoration: inherit;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: open_sansregular;
}

.in-numbers {
  background-image: url('../images/digits-background.png?1482228615');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position: center bottom;
  background-color: #ecf9e9;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .in-numbers {
    background-image: url('../images/digits-background@2x.png?1482228615');
  }
}

.header-wrapper {
  background-image: url('../images/header-bg.jpg?1482212478');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 200px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .header-wrapper {
    background-image: url('../images/header-bg.jpg?1482212478');
  }
}

.header {
  padding: 20px 0;
}

.logo {
  background-image: url('../images/logo.png?1482212304');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 231px 25px;
  width: 231px;
  height: 25px;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .logo {
    background-image: url('../images/logo@2x.png?1482212304');
  }
}

.footer {
  background: #3c0756;
  padding: 40px 0;
}

.header-menu__item {
  font-family: open_sanssemibold;
  display: inline-block;
  vertical-align: middle;
}
.header-menu__item:not(:last-child) {
  margin-right: 30px;
}
.header-menu__item.active {
  border-bottom: 2px solid #fff;
  opacity: 0.5;
}

.header-menu__link {
  color: #fff;
  text-decoration: none;
}

.header-right-nav__link {
  color: #fff;
  text-decoration: none;
}
.header-right-nav__link:not(:last-child) {
  margin-right: 15px;
}

.header-right-nav {
  margin-right: 15px;
}

.activities-dropdown {
  position: relative;
}
.activities-dropdown .dropdown__current {
  border-radius: 50px;
  background: #fff;
  line-height: 26px;
  color: #656565;
  position: relative;
  padding: 0 12px 0 12px;
}
.activities-dropdown .dropdown__current:after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  content: "";
  border: 5px solid transparent;
  border-top: 6px solid #656565;
  position: relative;
  top: 1px;
}

.dropdown__listing {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
}

.header-right-lang__label {
  font-family: open_sanssemibold;
  color: #fff;
  margin-left: 2px;
}

.activities-dropdown {
  margin-right: 5px;
}

.main-screen h1 {
  color: #fff;
  font-family: futurademicregular;
  font-size: 50px;
  line-height: 1.05;
}

.main-screen__big-text {
  font-family: futurademicregular;
  color: #d9d3e0;
  font-size: 50px;
  line-height: 1;
}

.main-screen__small-text {
  color: #b8abc4;
  font-size: 20px;
  line-height: 1.5;
  font-family: open_sanssemibold;
}

.video {
  margin: -150px auto 0;
  width: 510px;
  border: 2px solid #fff;
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
  box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}
.video img {
  width: 100%;
  border-radius: 3px;
}
.video .icon-play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
  cursor: pointer;
}

.block-title {
  font-size: 40px;
  color: #000;
  font-family: futurademicregular;
}
.block-title.blue {
  color: #04bfa5;
}
.block-title.white {
  color: #fff;
}
.block-title.dark-purple {
  color: #230043;
}

.in-numbers__item {
  display: inline-block;
}

.in-numbers__purple-text {
  font-family: open_sanssemibold;
}

.in-number__conversion-text {
  color: #160280;
  font-family: open_sanssemibold;
}

.in-numbers__item {
  position: relative;
  padding: 0 35px;
}
.in-numbers__item > * {
  position: relative;
  z-index: 1;
}
.in-numbers__item.grey-rectangle:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  margin-top: -51px;
  left: 0;
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 102px;
  width: 816px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .in-numbers__item.grey-rectangle:before {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 0;
    height: 102px;
    width: 816px;
  }
}
.in-numbers__item.purple-rectangle:before {
  position: absolute;
  top: 50%;
  margin-top: -51px;
  left: 0;
  display: block;
  content: "";
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -2130px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 102px;
  width: 406px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .in-numbers__item.purple-rectangle:before {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -2060px;
    height: 102px;
    width: 406px;
  }
}

.in-numbers__bottom-text {
  font-size: 18px;
}

.in-numbers__bottom-purple-text {
  font-size: 42px;
  margin-right: 5px;
}

.in-numbers__bottom-grid {
  margin-bottom: 280px;
}

.graph-description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.count-profit {
  padding: 40px 0;
  background: #ecf9e9;
}
.count-profit__inner {
  background-image: linear-gradient(100deg, #0b007a, #ca17e7);
  background-image: -webkit-linear-gradient(100deg, #0b007a, #ca17e7);
  background-image: -moz-linear-gradient(100deg, #0b007a, #ca17e7);
  background-image: -ms-linear-gradient(100deg, #0b007a, #ca17e7);
  background-image: -o-linear-gradient(100deg, #0b007a, #ca17e7);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 44px 66px 66px;
}

.count-profit__big-item {
  width: 40%;
}

.count-profit__small-item {
  width: 25%;
}

.count-profit__big-item, .count-profit__small-item {
  position: relative;
  padding-bottom: 60px;
}
.count-profit__big-item .profit__bottom-count, .count-profit__small-item .profit__bottom-count {
  position: absolute;
  left: 0;
  bottom: 0;
}

.real-statistic__title {
  line-height: 1.5;
  margin-bottom: 85px;
}

.real-statistic {
  position: relative;
  padding: 160px 0;
}
.real-statistic:before {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -221px;
  background-image: url('../images/macbook-statistic.png?1482228615');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 634px 442px;
  content: "";
  width: 634px;
  height: 442px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .real-statistic:before {
    background-image: url('../images/macbook-statistic@2x.png?1482228615');
  }
}

.we-buy__left-side {
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  padding: 20px;
  width: 270px;
  box-sizing: border-box;
  margin-right: 30px;
}
.we-buy__left-side input[type="checkbox"]:checked + .we-buy__section-detector {
  color: #fff;
  background: #443a91;
}
.we-buy__left-side input[type="checkbox"]:checked + .we-buy__section-detector:after {
  opacity: 1;
}

.we-buy__section-item {
  margin: 3px 0;
}

.we-buy__right-side {
  width: calc(100% - 270px - 30px);
}

.we-buy__section-detector {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ee3db4;
  line-height: 1.8;
  display: inline-block;
  border-radius: 50px;
  padding: 0 28px 0 10px;
  position: relative;
  cursor: pointer;
}
.we-buy__section-detector:after {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -2015px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 14px;
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .we-buy__section-detector:after {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1953px;
    height: 11px;
    width: 14px;
  }
}

.avail-traffic__title {
  line-height: 1.5;
}

.avail-traffic__item {
  margin-bottom: 7px;
}

.we-buy__border-bottom {
  border-bottom: 2px dotted #a7a7a7;
  margin: 0 10px;
  flex: 1;
  min-width: 100px;
}

.we-buy__left-item {
  font-family: open_sanslight;
}

.we-buy__right-item {
  flex: 0 1 auto;
  white-space: nowrap;
}

.we-buy__right-top-flex {
  align-items: baseline;
}

.avail-traffic__right {
  padding-bottom: 80px;
  position: relative;
}

.avail-traffic__note {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: rgba(216, 216, 216, 0.2);
  color: #868686;
  font-size: 12px;
}

.avail-traffic__note-item {
  position: relative;
  padding-left: 15px;
}
.avail-traffic__note-item:before {
  display: block;
  content: "*";
  color: #868686;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
}

.avail-traffic__note {
  padding: 15px;
}

.refferal {
  padding: 40px 10px;
}
.refferal .container {
  max-width: 1050px;
}

.refferal-arrow-green {
  position: relative;
}
.refferal-arrow-green > * {
  position: relative;
  z-index: 1;
}
.refferal-arrow-green:before {
  content: "";
  display: block;
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1602px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 122px;
  width: 338px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .refferal-arrow-green:before {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -1555px;
    height: 122px;
    width: 338px;
  }
}

.refferal-arrow-orange {
  position: relative;
}
.refferal-arrow-orange > * {
  position: relative;
  z-index: 1;
}
.refferal-arrow-orange:before {
  display: block;
  content: "";
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -1002px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 122px;
  width: 338px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .refferal-arrow-orange:before {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -972px;
    height: 122px;
    width: 338px;
  }
}

.big-arrow {
  position: relative;
  padding-top: 65px;
  padding-bottom: 10px;
}
.big-arrow > * {
  position: relative;
  z-index: 1;
}
.big-arrow:before {
  background-image: url('../images/icons-s07d8a576e1.png');
  background-position: 0 -107px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 131px;
  width: 981px;
  display: block;
  content: "";
  position: absolute;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  bottom: 0;
  left: 50%;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .big-arrow:before {
    background-image: url('../images/icons-2x-s05afcb236e.png');
    background-size: 981px auto;
    background-position: 0 -105px;
    height: 131px;
    width: 981px;
  }
}

.refferal__table .td {
  height: 36px;
  padding: 0 5px;
  vertical-align: middle;
}
.refferal__table .tr:nth-child(2n) .td {
  background: #f7f7f7;
}
.refferal__table .table-header {
  color: #00bea4;
}

.block-note {
  background: rgba(216, 216, 216, 0.2);
  border-radius: 10px;
  color: #868686;
  padding: 15px;
}
.block-note:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
}

.refferal .referal__table-wrapper {
  width: 65%;
}
.refferal .block-note {
  width: 30%;
}

.offer {
  padding: 30px 0;
  background-image: url('../images/bottom-banner.jpg?1482282118');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .offer {
    background-image: url('../images/bottom-banner@2x.jpg?1482282118');
  }
}

.offer-inner {
  padding-left: 450px;
}

.offer-link {
  color: #ee3db4;
  text-decoration: none;
}

.rating {
  padding: 50px 0 30px;
}

.rating-table {
  border-radius: 15px;
  border: 1px solid #eaeaea;
}
.rating-table .icon-roub {
  color: #da27a5;
}
.rating-table .td {
  padding: 10px;
}

.rating-table__value {
  color: #4a4a4a;
}
.rating-table__value.black {
  color: #000;
}

.rating-table__header {
  border-bottom: 1px solid #999999;
}

.rating-table__avatar {
  border-radius: 100%;
}

.paybacks {
  background: #f5f5f5;
  padding: 40px 0 60px;
}

.paybacks__item {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 1;
}
.paybacks__item [class*='icon-'] {
  margin-right: 20px;
}

.reason {
  padding: 50px 0;
}

.dating__title {
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #4f08a0;
}

.dating__number {
  color: #e331b2;
}

.reason__header {
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.reason__content {
  margin-right: 30px;
  max-width: 700px;
}

.reason__content-text {
  color: #2a2a2a;
  line-height: 1.57;
}
.reason__content-text p:not(:last-child) {
  margin-bottom: 30px;
}

.bottom-form {
  background-image: url('../images/form-background.jpg?1482294300');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .bottom-form {
    background-image: url('../images/form-background@2x.jpg?1482294300');
  }
}
.bottom-form .container {
  max-width: 810px;
}

.footer-menu__link {
  color: #fff;
  text-decoration: none;
}

.footer-menu__item {
  margin: 0 20px 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  z-index: 500;
  text-align: center;
}
.overlay > .table {
  height: 100%;
}
.overlay .td {
  vertical-align: middle;
}

.popup {
  background: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 40px;
  width: 610px;
  box-sizing: border-box;
}
