.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-qube-logo {
  background-image: url('../images/icons-s1778167d02.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 79px;
  width: 75px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-qube-logo {
    background-image: url('../images/icons-2x-sf4ea60d45b.png');
    background-size: 75px auto;
    background-position: 0 0;
    height: 79px;
    width: 75px;
  }
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  box-shadow: inset 0 0 500px;
}

.logo {
  left: 50%;
  margin-left: -37.5px;
  margin-top: -39.5px;
  position: absolute;
  top: 50%;
  font-size: 0;
}
