<!-- START bottom-form -->
<div class="bottom-form" id="bottom-form">
    <div class="container small">
        <div class="block-title white -text-center mb30">
            Присоединиться к партнерской программе
        </div>
        <form action="#">
            <div class="display-flex flex-wrap space-between mb20 bottom-form__input-containers">
                <div class="dib w32">
                    <input type="email" placeholder="Е-mail" class="db">
                </div>
                <div class="dib w32">
                    <input type="password" placeholder="Пароль" class="db">
                </div>
                <div class="dib w32">
                    <button class="button purple db">Зарегистрироваться</button>
                </div>
            </div>

            <p class="policy-agreement -white-text -text-center ff-semibold mb10">
                <input type="checkbox" checked>
                Регистрируясь, вы подтверждаете, что ознакомились с
                <a href="#" class="js-callPopup purple-link" data-popup-name="rules">правилами</a>
                работы партнерской программы.
            </p>
            <p class="partner-office -white-text ff-semibold -text-center">Партнерский отдел: <a
                        href="mailto:partners@denim-app.ru" class="inherit">partners@denim-app.ru</a></p>
        </form>
    </div>
</div>
<!-- // END bottom-form -->