<div class="mobile-menu">
    <div class="js-close-menu close-popup"></div>
    <ul class="mobile-menu__listing clean-element ff-semibold fz16">
        <li class="mobile-menu__item hidden">
            <a class="mobile-menu__link" href="#">Партнерская программа</a>
        </li>
        <li class="mobile-menu__item hidden">
            <a class="mobile-menu__link" href="#">Адалт проектам</a>
        </li>
        <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">Рекламные материалы</a>
        </li>
        <li class="mobile-menu__item">
            <a class="js-callPopup mobile-menu__link" data-popup-name="rules" href="#">Правила</a>
        </li>
    </ul>
</div>
<div class="mobile-menu-overlay hidden"></div>