<!-- START paybacks -->
<div class="paybacks">
    <div class="container">
        <div class="block-title -text-center mb20">Способы выплат</div>
        <div class="paybacks__subtitle -text-center mb50">Вы можеет выводить средства всеми указанными ниже способами
        </div>

        <div class="paybacks__grid display-flex space-between flex-wrap mb70">
            <div class="paybacks__item">
                <i class="icon-pc"></i>
                <span class="dib">
						Электорнные <br>платежи
					</span>
            </div>
            <div class="paybacks__item">
                <i class="icon-plastic"></i>
                <span class="dib">
						Платежные  <br>карты
					</span>
            </div>
            <div class="paybacks__item">
                <i class="icon-building"></i>
                <span class="dib">
						Банковский <br>перевод
					</span>
            </div>
            <div class="paybacks__item">
                <i class="icon-money"></i>
                <span class="dib">
						Наличный <br>перевод
					</span>
            </div>
        </div>

        <div class="paybacks__grid payments display-flex space-around flex-wrap">
            <div class="paybacks__item">
                <i class="icon-webmoney"></i>
            </div>
            <div class="paybacks__item">
                <i class="icon-yad"></i>
            </div>
            <div class="paybacks__item">
                <i class="icon-qiwi"></i>
            </div>
            <div class="paybacks__item">
                <i class="icon-paypal"></i>
            </div>
            <div class="paybacks__item">
                <i class="icon-visa"></i>
            </div>
        </div>
    </div>
</div>
<!-- // END paybacks -->