<!-- START reason -->
<div class="reason">
    <div class="container">
        <div class="reason__header">
            <div class="display-flex flex-wrap space-between">
                <div class="block-title lh1 reason__title">
                    <p>Зачем мы это делаем?</p>
                    <p>Все просто:</p>
                </div>
                <div class="reason__numbers">
                    <div class="display-flex space-between">
                        <div class="reason__number dating lh1 mr30">
                            <p class="dating__title ff-semibold fz20">Дейтинг в России</p>
                            <p class="dating__number ff-futura fz44">$ 50 млн/мес</p>
                            <p class="dating__descr fz20 ff-semibold">11 млн. человек в месяц</p>
                        </div>
                        <div class="reason__number dating lh1">
                            <p class="dating__title ff-semibold fz20">Дейтинг в Мире</p>
                            <p class="dating__number fz44 ff-futura">$ 5 млрд/год</p>
                            <p class="dating__descr fz20 ff-semibold">Прирост 10% в год</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="display-flex space-between flex-middle broken-heart__flex">
            <div class="reason__content">
                <div class="reason__content-title fz20 ff-semibold mb10">Партнерские программы сайтов знакомств</div>

                <div class="reason__content-text">
                    <p>Дейтинг-сервисы в последнее время испытывают настоящий бум. По оценкам экспертов, объем отечественного
                        рынка
                        онлайн-знакомств составляет порядка $50 млн с ежемесячной аудиторией в 11 млн человек. В то же время
                        отечественным компаниям есть куда стремиться.</p>

                    <p>Мировой объем рынка интернет-знакомств к концу года приблизится
                        к $5 млрд с ежегодным приростом почти на 10 %. Дейтинговые сервисы, нащупывая тренды, в погоне за прибылью
                        ищут своего пользователя, становясь все более нишевыми. От этих тенденций стараются не отставать и наши
                        разработчики.</p>

                    <p>Одним из примеров таких нишевых сервисов в России является созданный год назад продукт «Золушка
                        Project», нацеленный только на тех, кто ищет так называемые «отношения по расчету». Сейчас принято
                        расширение
                        расширять бизнес и поэтому мы запускаем партнерскую программу.</p>
                </div>
            </div>
            <div class="flex-item">
                <i class="icon-broken-heart"></i>
            </div>
        </div>
    </div>
</div>
<!-- // END reason -->