.fri
	display: inline-block
	vertical-align: middle

*[class="icon-"]
	display: inline-block
	vertical-align: middle

.icon-full-screen
	+sprite(icon-full-screen)

.icon-pc
	+sprite(icon-pc)

.icon-plastic
	+sprite(icon-plastic)

.icon-building
	+sprite(icon-building)

.icon-money
	+sprite(icon-money)

.icon-webmoney
	+sprite(icon-webmoney)

.icon-yad
	+sprite(icon-yad)

.icon-qiwi
	+sprite(icon-qiwi)

.icon-paypal
	+sprite(icon-paypal)

.icon-visa
	+sprite(icon-visa)

.icon-broken-heart
	+sprite(icon-broken-heart)

.icon-lang__rus
	+sprite(icon-lang_rus)

.icon-roub
	font-family: Arial
	&.bold
		font-weight: bold

.icon-play-video
	+sprite(icon-play-video)

.icon-cart
	+sprite(icon-cart)

.icon-traffic-checked
	+sprite(icon-traffic-checked)

.icon-traffic-cross
	+sprite(icon-traffic-cross)

.icon-referal-person
	+sprite(icon-referal-person)

.icon-logo-round
	+sprite(icon-logo-round)

.icon-users
	+sprite(icon-users)

.icon-line-chart
	+sprite(icon-line-chart)

.icon-offer-arrow-right
	+sprite(icon-offer-arrow-right)

.icon-footer-logo
	+retina-bg("footer-logo.png", "footer-logo@2x.png", autosize)
	display: inline-block
	vertical-align: middle

.icon-success
	+sprite(icon-success)