html, body
  margin: 0
  height: 100%
  font-size: 14px
  font-family: open_sansregular

.in-numbers
  +retina-bg("digits-background.png", "digits-background@2x.png", cover)
  background-position: center bottom
  background-color: #ecf9e9

.header-wrapper
  +retina-bg('header-bg.jpg', 'header-bg.jpg', cover)
  padding-bottom: 200px

.header
  padding: 20px 0

.logo
  +retina-bg("logo.png", "logo@2x.png", autosize)

.footer
  background: #3c0756
  padding: 40px 0

.header-menu__item
  font-family: open_sanssemibold
  display: inline-block
  vertical-align: middle

  &:not(:last-child)
    margin-right: 30px

  &.active
    border-bottom: 2px solid #fff
    opacity: 0.5

.header-menu__link
  color: #fff
  text-decoration: none

.header-right-nav__link
  color: #fff
  text-decoration: none
  &:not(:last-child)
    margin-right: 15px

.header-right-nav
  margin-right: 15px

.header-right-activities
  position: relative
  
.login-trigger
  border-radius: 50px
  background: #fff
  line-height: 26px
  color: #656565
  position: relative
  padding: 0 12px 0 12px
  cursor: pointer

  &:after
    display: inline-block
    vertical-align: middle
    margin-left: 7px
    content: ''
    border: 5px solid transparent
    border-top: 6px solid #656565
    position: relative
    top: 1px

.login-bar
  position: absolute
  background: #fff
  border-radius: 10px
  top: 100%
  margin-top: 10px
  right: -5px
  width: 700px
  padding: 20px

  &:after
    display: block
    content: ''
    position: absolute
    right: 35px
    bottom: 100%
    border: 6px solid transparent
    border-bottom: 6px solid #fff

.header-right-lang__label
  font-family: open_sanssemibold
  color: #fff
  margin-left: 2px

.activities-dropdown
  margin-right: 5px

.main-screen
  h1
    color: #fff
    font-family: futurademicregular
    font-size: 50px
    line-height: 1.05
    margin: 33px 0
    font-weight: normal

  h2
    font-size: 20px
    color: #fff
    opacity: 0.8
    margin: 0
    font-weight: normal
    font-family: open_sanssemibold

  &.adult
    h1
      margin-bottom: 20px
    
.main-screen__big-text
  font-family: futurademicregular
  color: #d9d3e0
  font-size: 50px
  line-height: 1

.main-screen__small-text
  color: #b8abc4
  font-size: 20px
  line-height: 1.5
  font-family: open_sanssemibold

.main-screen__medium-text
  font-size: 14px
  color: #cfbbe1
  line-height: normal
  font-family: open_sanssemibold

.video
  margin: -150px auto 50px
  width: 510px
  border: 2px solid #fff
  font-size: 0
  line-height: 0
  position: relative
  border-radius: 5px
  box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.25)
  +retina-bg("video-background.jpg", "video-background@2x.jpg", cover)
  display: block

  img
    width: 100%
    border-radius: 3px

  .icon-play-video
    position: absolute
    top: 50%
    left: 50%
    +transform(translate3d(-50%, -50%, 0))
    cursor: pointer

.block-title
  font-size: 40px
  color: #000
  font-family: futurademicregular
  
  &.blue
    color: #04bfa5

  &.white
    color: #fff

  &.dark-purple
    color: #230043
    

.in-numbers__item
  display: inline-block

.in-numbers__purple-text
  font-family: open_sanssemibold

.in-number__conversion-text
  color: #160280
  font-family: open_sanssemibold

.in-numbers__item
  position: relative
  padding: 0 35px
  & > *
    position: relative
    z-index: 1
  &.grey-rectangle
    &:before
      position: absolute
      display: block
      content: ''
      top: 50%
      margin-top: -51px
      left: 0
      +sprite(grey-rectangle)

  &.purple-rectangle
    &:before
      position: absolute
      top: 50%
      margin-top: -51px
      left: 0
      display: block
      content: ''
      +sprite(purple-rectangle)

.in-numbers__bottom-text
  font-size: 18px

.in-numbers__bottom-purple-text
  font-size: 42px
  margin-right: 5px

.in-numbers__bottom-grid
  margin-bottom: 280px

.graph-description
  display: block
  margin-left: auto
  margin-right: auto
  max-width: 650px

.count-profit
  padding: 40px 0
  background: #ecf9e9

  &__inner
    background-image: linear-gradient(100deg, #0b007a, #ca17e7)
    background-image: -webkit-linear-gradient(100deg, #0b007a, #ca17e7)
    background-image: -moz-linear-gradient(100deg, #0b007a, #ca17e7)
    background-image: -ms-linear-gradient(100deg, #0b007a, #ca17e7)
    background-image: -o-linear-gradient(100deg, #0b007a, #ca17e7)
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4)
    border-radius: 10px
    padding: 44px 66px 66px

.count-profit__big-item
  width: 40%

.count-profit__small-item
  width: 25%

.count-profit__big-item, .count-profit__small-item
  position: relative
  padding-bottom: 60px

  .profit__bottom-count
    position: absolute
    left: 0
    bottom: 0

.real-statistic__title
  line-height: 1.5
  margin-bottom: 85px


.real-statistic
  position: relative
  padding: 160px 0

  &:before
    display: block
    position: absolute
    top: 50%
    right: 0
    margin-top: -221px
    +retina-bg('macbook-statistic.png', 'macbook-statistic@2x.png')
    content: ''
    width: 634px
    height: 442px

.we-buy__left-side
  border: 1px solid #cbcbcb
  border-radius: 10px
  padding: 20px
  width: 270px
  box-sizing: border-box
  margin-right: 30px

  input[type="checkbox"]
    &:checked
      & + .we-buy__section-detector
        color: #fff
        background: #443a91

        &:after
          opacity: 1

.we-buy__section-item
  margin: 3px 0

.we-buy__right-side
  width: calc(100% - 270px - 30px)
  
.we-buy__section-detector
  +transition()
  color: #ee3db4
  line-height: 1.8
  display: inline-block
  border-radius: 50px
  padding: 0 28px 0 10px
  position: relative
  cursor: pointer

  &:after
    +sprite(icon-we-buy-check)
    content: ''
    position: absolute
    top: 50%
    right: 8px
    +transform(translateY(-50%))
    +transition()
    opacity: 0

.avail-traffic__title
  line-height: 1.5

.avail-traffic__item
  margin-bottom: 7px

.we-buy__border-bottom
  border-bottom: 2px dotted #a7a7a7
  margin: 0 10px
  flex: 1
  min-width: 100px

.we-buy__left-item
  font-family: open_sanslight

.we-buy__right-item
  flex: 0 1 auto
  white-space: nowrap

.we-buy__right-top-flex
  align-items: baseline

.avail-traffic__right
  padding-bottom: 80px
  position: relative

.avail-traffic__note
  position: absolute
  bottom: 0
  left: 0
  right: 0
  border-radius: 10px
  background: rgba(#d8d8d8, 0.2)
  color: #868686
  font-size: 12px

.avail-traffic__note-item
  position: relative
  padding-left: 15px

  &:before
    display: block
    content: '*'
    color: #868686
    font-size: 14px
    position: absolute
    left: 0
    top: 0

.avail-traffic__note
  padding: 15px

.refferal
  padding: 40px 10px

  .container
    max-width: 1050px

.refferal-arrow-green
  position: relative
  > *
    position: relative
    z-index: 1
  &:before
    content: ''
    display: block
    +sprite(icon-right-green-arrow)
    position: absolute
    top: 50%
    left: 50%
    +transform(translate3d(-50%,-50%,0))

.refferal-arrow-orange
  position: relative
  > *
    position: relative
    z-index: 1

  &:before
    display: block
    content: ''
    +sprite(icon-orange-arrow-right)
    position: absolute
    top: 50%
    left: 50%
    +transform(translate3d(-50%,-50%,0))

.big-arrow
  position: relative
  padding-top: 65px
  padding-bottom: 10px

  > *
    position: relative
    z-index: 1

  &:before
    +sprite(icon-bottom-arrow)
    display: block
    content: ''
    position: absolute
    +transform(translate3d(-50%,0, 0))
    bottom: 0
    left: 50%
    

.refferal__table
  .td
    height: 36px
    padding: 0 5px
    vertical-align: middle
  .tr:nth-child(2n)
    .td
      background: #f7f7f7
      
  .table-header
    color: #00bea4

.block-note
  background: rgba(#d8d8d8, 0.2)
  border-radius: 10px
  color: #868686
  padding: 15px

  &:before
    content: ''
    display: inline-block
    width: 0
    height: 100%
    vertical-align: middle
    font-size: 0
    line-height: 0
    box-sizing: border-box

.refferal
  .referal__table-wrapper
    width: 65%
  .block-note
    width: 30%

.offer
  padding: 30px 0
  +retina-bg("bottom-banner.jpg", "bottom-banner@2x.jpg", cover)

.offer-inner
  padding-left: 450px

.offer-link
  color: #ee3db4
  text-decoration: none

.rating
  padding: 50px 0 30px

.rating-table
  border-radius: 15px
  border: 1px solid #eaeaea
  
  .icon-roub
    color: #da27a5

  .td
    padding: 10px

.rating-table__value
  color: #4a4a4a

  &.black
    color: #000

.rating-table__header
  border-bottom: 1px solid #999999

.rating-table__avatar
  border-radius: 100%
  
.paybacks
  background: #f5f5f5
  padding: 40px 0 60px

.paybacks__item
  font-size: 18px
  color: #4a4a4a
  line-height: 1

  [class*='icon-']
    margin-right: 20px

.reason
  padding: 50px 0

.dating__title
  line-height: 1.5
  letter-spacing: -0.6px
  color: #4f08a0
  
.dating__number
  color: #e331b2

.reason__header
  border-bottom: 2px solid #d8d8d8
  padding-bottom: 25px
  margin-bottom: 25px

.reason__content
  margin-right: 30px
  max-width: 700px

.reason__content-text
  color: #2a2a2a
  line-height: 1.57

  p
    &:not(:last-child)
      margin-bottom: 30px

.bottom-form
  +retina-bg("form-background.jpg", "form-background@2x.jpg", cover)
  padding: 35px 0

  .container
    max-width: 810px

.footer-menu__link
  color: #fff
  text-decoration: none

.footer-menu__item
  margin: 0 20px 10px

.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  height: 100%
  background: rgba(#000, 0.4)
  //display: block
  z-index: 500
  text-align: center
  overflow: auto
  padding: 20px 0
  box-sizing: border-box

  > .table
    height: 100%

  .td
    vertical-align: middle

.dropdown__link
  text-decoration: none

.popup
  background: #fff
  border-radius: 5px
  padding: 40px
  width: 610px
  box-sizing: border-box
  position: relative

  &.rules-popup
    width: 1000px

.popup__content
  line-height: 1.57
  
.close-popup__text-button
  text-decoration: none
  color: #2c2c2c

.dropdown-wrapper
  position: relative

.dropdown__current
  cursor: pointer

.dropdown__listing
  position: absolute
  top: 100%
  left: 0
  min-width: 100%

.lang-dropdown__item
  margin: 8px 0

.adult-numbers__purple-text
  font-size: 60px

.adult-conditions
  background: linear-gradient(108deg, #0b007a, #ca17e7)
  background: -webkit-linear-gradient(108deg, #0b007a, #ca17e7)
  background: -moz-linear-gradient(108deg, #0b007a, #ca17e7)
  background: -ms-linear-gradient(108deg, #0b007a, #ca17e7)
  background: -o-linear-gradient(108deg, #0b007a, #ca17e7)
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.4)