.navbar-right__item
    vertical-align: middle
    margin-right: 15px
    &:last-child
        margin-right: 0

.soc
    padding-left: 0
    margin-bottom: 0
    list-style: none
    font-size: 0
.soc__item
    margin-right: 5px
    display: inline-block
    font-size: 0
    &:last-child
        margin-right: 0
.soc__link
    display: block
    width: 25px
    height: 25px
    background: #9d9d9d
    font-size: 0

.authorisation__inner
    display: inline-block
    vertical-align: middle
    margin-right: 15px
    &:last-child
        margin-right: 0
.authorisation__link
    padding: 0
    font-size: 11px
    text-decoration: underline

.service
    padding: 5px 0
.service__list
    display: inline-block
    padding: 5px 0
    margin-bottom: 0
    list-style: none
.service__item
    display: inline-block
    vertical-align: middle
    margin-right: 40px
    &:last-child
        margin-right: 0
.service__link
    display: block
    text-decoration: underline
    color: #fff

.search
    width: 100%
.search__input
    width: 100%
    height: 34px
    padding: 0 30px 0 10px
    background: none
    border: none
    outline: none
.search__entry-field
    border: 2px solid #fff
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    position: relative
.search__btn
    width: 25px
    height: 25px
    position: absolute
    top: 50%
    right: 10px
    transform: translateY(-50%)
    outline: none

.page-header__info
    padding: 20px 0

.logo
    padding: 10px 0
    &.footer
        margin-bottom: 55px

.logo__link
    display: block
    width: 310px
    height: 50px
    background: #9d9d9d

.info-box
    padding: 10px 0
.info-box__item
    padding-right: 5px
.info-box__text
    display: inline-block
    vertical-align: middle
    width: calc(100% - 60px)

.call
    &.header
        padding: 10px 0
        margin-left: -5px
        margin-right: -5px
        > div
            padding-left: 5px
            padding-right: 5px
        .call__link
            color: #326cb5
    &.footer
        font-size: 0
        .call__toggle
            display: inline-block
        .call__link-wrap
            display: inline-block
            width: calc(100% - 70px)
        .call__link
            font-size: 28px

.call__link-wrap
    height: 50px
.call__toggle
    display: block
    font-size: 0
    cursor: pointer
.call__link
    display: inline-block
    vertical-align: middle
    font-size: 25px
    color: #fff
.call__toggle-text
    display: inline-block
    vertical-align: middle
    width: calc(100% - 60px)
    font-size: 14px
    color: #fd2f08

.banners-top
    padding: 10px 0
    border-bottom: 1px solid #aaaaaa

.banners-top__row
    margin-left: -5px
    margin-right: -5px
    > div
        padding-left: 5px
        padding-right: 5px

.banners-top__img
    width: 100%
    height: 100%
    background: #9d9d9d

.banners-top__left
    .banners-top__img
        padding-top: 48%

.banners-top__right
    .banners-top__img
        padding-top: 97.5%

.payments
    list-style: none
    padding-left: 0
    margin-bottom: 50px
    font-size: 0
.payments__item
    display: inline-block
    margin-right: 10px
    &:last-child
        margin-right: 0
.payments__link
    display: block
    width: 45px
    height: 30px
    background: #9d9d9d

.subscription
    display: inline-block
    text-align: left
.subscription__link
    text-decoration: underline
    color: #fff

.counter
    display: inline-block
    width: 85px
    height: 30px