{% extends "layouts/app.twig" %}

{% set roub = '<span class="icon-roub">₽</span>' %}

{% block pageTitle %}Главная страница{% endblock %}

{% block mainScreen %}
	<div class="main-screen adult -text-center">
		<div class="container">
			<h1>Куда лить adult (адалт) трафик?</h1>
			<h2>Золушка project активно покупает адалт-трафик <br>с оплатой за пополнение</h2>
			<div class="mb70"></div>
			<div class="main-screen__grid display-flex space-around">
				<div class="main-screen__item -text-left">
					<p class="main-screen__big-text">до 70%</p>
					<p class="main-screen__small-text">по модели Share Revenue:</p>
					<p class="main-screen__medium-text">От 50 до 70% со всех платных <br>сервисов в течении 6-ти месяцев</p>
				</div>
				<div class="main-screen__item -text-left">
					<p class="main-screen__big-text">до 10%</p>
					<p class="main-screen__small-text">по реферальаной программе</p>
					<p class="main-screen__medium-text">от 5 до 10% за платные действия от <br>привлеченных вебмастеров</p>
				</div>
				<div class="main-screen__item -text-left">
					<p class="main-screen__big-text">до 50%</p>
					<p class="main-screen__small-text">На выплаты</p>
					<p class="main-screen__medium-text">На следующий день после покупки <br>платного действия</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="video mb50">
		<img src="images/video-background@2x.jpg" alt="">
		<i class="icon-play-video"></i>
	</div>
	<div class="in-numbers adult">
		<div class="block-title -text-center mb30">Золушка Project в цифрах</div>
		<div class="adult-numbers -text-center mb40">
			<div class="adult-numbers__grey-rectangle dib -text-left">
				<div class="dib -text-left">
					<div class="adult-numbers__purple-text -purple-text ff-semibold lh1 mb10">18 часов</div>
					<div class="adult-numbers__blue-text fz20 lh1 ff-semibold">Время принятие решения
						<br>о покупке платных сервисов</div>
				</div>
			</div>
			<div class="adult-numbers__purple-rectangle dib -text-left">
				<div class="dib -text-left">
					<div class="adult-number__white-title -white-text fz44 ff-semibold lh1 mb10">4 месяца</div>
					<div class="adult-number__white-text -white-text fz22 ff-semibold fz20 lh1">Cреднее время жизни 1 клиента
						<br>(Life
						Time):
					</div>
				</div>
			</div>
		</div>
		<div class="in-numbers__bottom-grid -text-center">
			<div class="in-numbers__bottom-item adult-item dib mr30 -text-left">
				<div class="in-numbers__bottom-purple-text ff-semibold dib -purple-text">
					2800 {{ roub }}
				</div>
				<div class="in-numbers__bottom-text lh1 dib -grey-text">
					Средний чек
					<br>за месяц
				</div>
			</div>
			<div class="in-numbers__bottom-item adult-item dib -text-left">
				<div class="in-numbers__bottom-purple-text ff-semibold dib -purple-text">
					5000 {{ roub }}
				</div>
				<div class="in-numbers__bottom-text lh1 dib -grey-text">
					Средний заработок вебмастера <br>с 1 пользователя:
				</div>
			</div>
		</div>
	</div>

	<div class="adult-conditions">
		<div class="container">
			<div class="adult-conditions__inner -white-text fz16">
				<div class="block-title white adult-conditions__title -text-center mb30">Условия работы</div>
				<div class="display-flex space-between flex-wrap mb30">
					<div class="adult-conditions__section w48">
						<div class="adult-conditions__section-title fz20 ff-semibold mb20">Партнерская программа</div>
						<div class="table ff-semibold mb10">
							<div class="tr">
								<div class="td">
									Кол-во активных <br>клиентов*
								</div>
								<div class="td">
									% от платных <br>сервисов
								</div>
							</div>
							<div class="tr">
								<div class="td">1-50</div>
								<div class="td">50%</div>
							</div>
							<div class="tr">
								<div class="td">51-150</div>
								<div class="td">60%</div>
							</div>
							<div class="tr">
								<div class="td">>150</div>
								<div class="td">70%</div>
							</div>
						</div>
						<div class="adult-conditions__section-descr fz14">
							Активным клиентом считатьется пользователь купивший платных услуг более чем на 3000 рублей
						</div>
					</div>
					<div class="adult-conditions__section w48">
						<div class="adult-conditions__section-title fz20 ff-semibold mb20">Реферальная программа</div>
						<div class="table ff-semibold mb10">
							<div class="tr">
								<div class="td">
									Кол-во привлеченных <br>веб-мастеров
								</div>
								<div class="td">
									% от платных <br>сервисов
								</div>
							</div>
							<div class="tr">
								<div class="td">1-5</div>
								<div class="td">5%</div>
							</div>
							<div class="tr">
								<div class="td">5-15</div>
								<div class="td">10%</div>
							</div>
							<div class="tr">
								<div class="td">>15</div>
								<div class="td">15%</div>
							</div>
						</div>
						<div class="adult-conditions__section-descr fz14">
							Активным привлеченным вебмастером считается вебмастер который привлек пользователей,
							купивших платных
							услуг
							более чем на 3000 рублей
						</div>
					</div>
				</div>
				<div class="-text-center mb20">
					<a href="#" class="button js-scrollTo" data-scrollto="#bottom-form">Присоединиться</a>
				</div>
				<div class="adult-conditions__note-text -text-center -white-text fz14">
					*Вознаграждение выплачивается в течении 6 месяцев с момента регистрации
				</div>
			</div>
		</div>
	</div>

	{% include 'widgets/paybacks.twig' %}

	{% include 'widgets/bottom-form.twig' %}
{% endblock %}