{% extends "layouts/app.twig" %}

{% block content %}
    <section class="light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/lux.png">
                </div>
                <div class="col-lg-6">
                    <h2><span>Что Вам дает </span><span>биржа</span></h2>
                    <p><span>Продажа контрактов на бирже позволяет ломбардам:</span><br>
                        - Быстро и оперативно пополнять капитал для выдачи дальнейших займов.<br>
                        - Получать больше процентов с одной и той же суммы денег путем ее
                        многократной выдачи.
                    </p>
                    <p><span>Приобретение контрактов на Бирже позволяет покупателям:</span><br>
                        - Получать до 25% годовых прибыли с вложенных денег.<br>
                        - Возникает шанс приобрести авто за цену ниже рыночной.<br>
                        - Ваши вложения обеспечены залогом транспортного средства, поэтому
                        риск денежных потерь минимален.
                    </p>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="achievement-b"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="achievement-b"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="achievement-b"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="blue">
            <div class="container"><h2>Как биржа работает?</h2></div>
        </div>
        <div class="container"></div>
        <div class="blue">
            <div class="container">
                <h3>ВАЖНО!</h3>
                <p>Вы не покупаете имущество Должника (автомашину, недвижимость), Вы покупаете права Ломбарда на выплату Должником суммы Договора займа и вознаграждения по нему!</p>
                <p>Если Должник выкупил имущество у Ломбарда Вы не получаете право на продажу имущества должника (вместе с Ломбардом или без него), но при этом Вы заработали проценты за все время сотрудничества и получили свои вложенные средства обратно.</p>
                <h4>Если должник не выкупил имущество у Ломбарда (один из трех вариантов в зависимости от заключенного договора цессии):</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <i class="ico"></i>
                        <p>Вы получаете имущество должника, но при этом оплачиваете понесенные Ломбардом расходы (офромление, полученные проценты).</p>
                    </div>
                    <div class="col-lg-4">
                        <i class="ico"></i>
                        <p>Вы получаете проценты за все время договора цессии и совместно с Ломбардом продаете имущество Должника на условиях 50/50 или пропорционально затраченных усилий. </p>
                    </div>
                    <div class="col-lg-4">
                        <i class="ico"></i>
                        <p>Вы получаете проценты за все время договора цессии и вправе отказаться от своего права на продажу имущества Должника, если Вы деловой человек и не заинтересованы в трате собственного времени на продажу чужого имущества. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>НОВЫЕ ЛОТЫ</h2>
            <div class="row">
                <div class="col-lg-3">
                    <a href="#"><img src="images/nissan-almera.jpg"></a>
                    <h6>Nissan Almera 2015 г.</h6>
                    <p>Цена за обязательство:<br>
                        <span>1 105 000.00 KZT</span><br>
                        Вознаграждение: <span>2%</span><br>
                        Ежемесячный доход:<br>
                        <span>22 100 KZT</span></p>
                </div>
                <div class="col-lg-3">
                    <a href="#"><img src="images/nissan-almera.jpg"></a>
                    <h6>Nissan Almera 2015 г.</h6>
                    <p>Цена за обязательство:<br>
                        <span>1 105 000.00 KZT</span><br>
                        Вознаграждение: <span>2%</span><br>
                        Ежемесячный доход:<br>
                        <span>22 100 KZT</span></p>
                </div>
                <div class="col-lg-3">
                    <a href="#"><img src="images/nissan-almera.jpg"></a>
                    <h6>Nissan Almera 2015 г.</h6>
                    <p>Цена за обязательство:<br>
                        <span>1 105 000.00 KZT</span><br>
                        Вознаграждение: <span>2%</span><br>
                        Ежемесячный доход:<br>
                        <span>22 100 KZT</span></p>
                </div>
                <div class="col-lg-3">
                    <a href="#"><img src="images/nissan-almera.jpg"></a>
                    <h6>Nissan Almera 2015 г.</h6>
                    <p>Цена за обязательство:<br>
                        <span>1 105 000.00 KZT</span><br>
                        Вознаграждение: <span>2%</span><br>
                        Ежемесячный доход:<br>
                        <span>22 100 KZT</span></p>
                </div>
            </div>
            <div class="btn-wrap">
                <a class="btn btn_purple-square" href="#">Все лоты</a>
            </div>
        </div>
        <div class="blue">
            <div class="container">
                <div class="subscribe-b">
                    <input class="form-control subscribe-b__entry-field" placeholder="Ваш e-mail">
                    <button class="btn btn_purple-br">Подписаться</button>
                </div>
                <p>Каждый месяц более 1000 новых лотов</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Новости и статьи</h2>
            <div class="row">
                <div class="col-lg-4">
                    <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    <a href="#">
                        <h5>Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p>Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="col-lg-4">
                    <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    <a href="#">
                        <h5>Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p>Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a href="#">Подробнее</a>
                </div>
                <div class="col-lg-4">
                    <i class="ico ico-calendar"></i><span>01/08/2016</span>
                    <a href="#">
                        <h5>Почему Вам выгодно покупать контракты на Бирже залоговых обязательств?</h5>
                    </a>
                    <p>Большое количество книг, авторов, консультантов предлагают различные способы получения пассивного дохода, т.е. дохода получаемого Вами без Вашего непосредственного трудового участия. Из многообразия способов получения пассивного дохода можно выделить три наиболее популярных: ...</p>
                    <a href="#">Подробнее</a>
                </div>
            </div>
            <div class="btn-wrap">
                <a class="btn btn_blue-square" href="#">Все лоты</a>
            </div>
        </div>
    </section>
{% endblock %}