{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="page-body">
        <section class="banners-top">
            <div class="container">
                <div class="row banners-top__row">
                    <div class="col-md-8">
                        <div class="banners-top__left">
                            <div class="banners-top__img"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banners-top__right">
                            <div class="banners-top__img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}