{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
	<div class="video mb50">
		<img alt="" src="http://placehold.it/500x300"/>
		<i class="icon-play-video"></i>
	</div>
	<div class="in-numbers">
		<div class="block-title -text-center mb30">Золушка Project в цифрах</div>
		<div class="in-numbers__grid fz0 lh0 -text-center">
			<div class="in-numbers__item dib grey-rectangle">
				<div class="in-numbers__purple-text dib fz77 -purple-text">
					5%
				</div>
				<div class="in-number__conversion-text fz30 dib -text-left lh1">
					конверсия <br>в регистрацию
				</div>
			</div>
			<div class="in-numbers__item dib purple-rectangle">
				<div class="in-numbers__buy-converstion dib">
					<i class="icon-cart"></i>
					<div class="dib fz44 -white-text">8%</div>
				</div>
				<div class="in-number__buy-conversion-text dib fz20 -white-text">
					конверсия в покупку платных услуг
				</div>
			</div>
		</div>
		<div class="in-numbers__bottom-grid display-flex space-around">
			<div class="in-numbers__bottom-item">
				<div class="in-numbers__bottom-purple-text dib -purple-color">
					18
				</div>
				<div class="in-numbers__bottom-text -grey-text">
					часов время принятие <br>решение о покупке
				</div>
			</div>
			<div class="in-numbers__bottom-item">
				<div class="in-numbers__bottom-purple-text dib -purple-color">
					30
				</div>
				<div class="in-numbers__bottom-text -grey-text">
					дней время <br>
					жизни Coockie
				</div>
			</div>
			<div class="in-numbers__bottom-item">
				<div class="in-numbers__bottom-purple-text dib -purple-color">
					10
				</div>
				<div class="in-numbers__bottom-text -grey-text">
					дней <br>
					холд
				</div>
			</div>
		</div>
		<div class="graph-description mb30">
			Cервис «Золушка Project» создан для тех, кто ищет отношения по расчету. <br>
			Гарантированная конфиденциальность, телефонная связь без раскрытия номера,мобильное приложение Denim,
			подтверждение анкет и многое другое.
			<br>
			Мы делаем отношения по расчету выгодными!
		</div>
		<div class="-text-center">
			<a href="#" class="button">Присоединиться</a>
		</div>
	</div>
	<div class="count-profit">
		<div class="container">
			<div class="count-profit__title -text-uppercase -white-text">Расчитайте свою прибль</div>

			<div class="display-flex space-between">
				<div class="count-profit__big-item">
					<input type="text" data-bind="value: trafficCount, valueUpdate: 'keyup'">
					<p>Суммарный доход: <span data-bind="text: summaryProfit"></span> Р/день</p>
				</div>
				<div class="count-profit__small-item">
					<div class="count-profit__title">Доход с регистраций:</div>
					<p class="count-profit__small-text">Текущий процент подтверждения регистраций: 59%</p>
					<p class="count-profit__small-text">Средняя конверсия в регистрации: 5%</p>
					<p><span data-bind="text: regProfit"></span> Р/день</p>
				</div>
				<div class="count-profit__small-item">
					<div class="count-profit__title">Доход с платных сервисов:</div>
					<p class="count-profit__small-text">Время принятия решения о покупке платной услуги: 18 часов</p>
					<p class="count-profit__small-text">Конверсия в платежи: 7%</p>
					<p><span data-bind="text: paysProfit"></span> Р/день</p>
				</div>
			</div>
		</div>
	</div>

	<div class="real-statistic">
		<div class="container">
			<div class="clearfix">
				<div class="real-statistic__left">
					<div class="real-statistic__title">Статистика в режиме реальноо времени и отдельный личный кабинет
					</div>
					<a href="#" class="button">Присоединиться</a>
				</div>
				<div class="real-statistic__right"></div>
			</div>
		</div>
	</div>

	<div class="we-buy">
		<div class="container">
			<p class="block-title">Какие действия мы покупаем?</p>

			<div class="display-flex space-between">
				<div class="we-buy__left-side">
					<div class="we-buy__section">
						<p class="we-buy__section-title">Выберите платформу</p>
						<ul class="we-buy__section-listing">
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Десктоп</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Мобильная версия</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Приложение IOS, Android</span></label>
							</li>
						</ul>
					</div>
					<div class="we-buy__section">
						<p class="we-buy__section-title">Выберите пол:</p>
						<ul class="we-buy__section-listing">
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Мужская анкета 27 - 45 лет</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Женская анкета 18 - 30 лет</span></label>
							</li>
						</ul>
					</div>
					<div class="we-buy__section">
						<p class="we-buy__section-title">Уточните регион:</p>
						<ul class="we-buy__section-listing">
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Москва и Питер</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Россия, кроме МСК и СПБ</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">СНГ, кроме РФ</span></label>
							</li>
							<li class="we-buy__section-item">
								<label><input type="checkbox" class="no-style hidden"> <span
											class="we-buy__section-detector">Остальной Мир</span></label>
							</li>
						</ul>
					</div>
					<div class="we-buy__section">
						<p class="we-buy__section-title">Модель работы: CPL</p>
					</div>
				</div>
				<div class="we-buy__right-side">
					<div class="we-buy__right-top-bar">
						<div class="display-flex">
							<span class="-grey-text">Регистрация</span>
							<span class="we-buy__border-bottom"></span>
							<span class="-grey-text">70 ₽</span>
						</div>
						<div class="display-flex">
							<span class="-grey-text">Пополнение от 750 рублей</span>
							<span class="we-buy__border-bottom"></span>
							<span class="-grey-text">200 ₽</span>
						</div>
					</div>
					<div class="avail-traffic display-flex">
						<div class="avail-traffic__left">
							<p class="avail-traffic__title">
								<span class="dib fz20">Разрешенный трафик</span> <i class="icon-traffic-checked"></i>
							</p>
							<ul class="avail-traffic__listing">
								<li class="avail-traffic__item">Clickunder/Popunder через прелендинг</li>
								<li class="avail-traffic__item">Doorway-трафик</li>
								<li class="avail-traffic__item">E-mail рассылка</li>
								<li class="avail-traffic__item">SMS-рассылки</li>
								<li class="avail-traffic__item">Popup-формат</li>
								<li class="avail-traffic__item">Баннерная реклама</li>
								<li class="avail-traffic__item">Брокерский трафик</li>
								<li class="avail-traffic__item">Группы в соц сетях</li>
								<li class="avail-traffic__item">Использование промокодов</li>
								<li class="avail-traffic__item">Мобильный трафик</li>
								<li class="avail-traffic__item">Оффервол/Приложение дня</li>
								<li class="avail-traffic__item">Приложения в соц сетях</li>
								<li class="avail-traffic__item">Скидочные и купонные агрегаторы</li>
								<li class="avail-traffic__item">Тизерная реклама</li>
								<li class="avail-traffic__item">Трафик из Facebook, Instagram, YouTube</li>
							</ul>
						</div>
						<div class="avail-traffic__right">
							<p class="avail-traffic__title">
								<span class="dib fz20">Разрешенный трафик</span> <i class="icon-traffic-cross"></i>
							</p>
							<ul class="avail-traffic__listing">
								<li class="avail-traffic__item">AdSpot/RichMedia/Sliding</li>
								<li class="avail-traffic__item">Cashback-трафик</li>
								<li class="avail-traffic__item">Clickunder/Popunder</li>
								<li class="avail-traffic__item">Авто-редирект</li>
								<li class="avail-traffic__item">Контекстная реклама</li>
								<li class="avail-traffic__item">Контекстная реклама на бренд</li>
							</ul>
							<div class="avail-traffic__note">
								<p class="avail-traffic__note-item">Выплаты за регистрацию доступны у по факту
									достижения 500 регистраций.</p>
								<p class="avail-traffic__note-item">Выплаты за пополнение - достпуны к выводу на
									следующий рабочий день</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="refferal">
		<div class="container">
			<div class="block-title blue -text-center">Рефферальная программа</div>

			<div class="refferal-grid display-flex space-between">
				<i class="icon-referal-person"></i>
				<div class="refferal-arrow-green">
					<span class="dib">
							Вы, как агент привлекаете <br>
							веб-мастеров на сайт
					</span>
					<i class="icon-full-screen"></i>
				</div>
				<i class="icon-users"></i>
				<div class="refferal-arrow-orange">
					<span class="dib">
							Веб-мастера генерируют <br>трафик конвертируемый в <br>покупки платных сервисов
					</span>
					<i class="icon-line-chart"></i>
				</div>
				<i class="icon-broken-heart"></i>
			</div>
			<div class="big-arrow -text-center">
				<span class="dib">$ ВАША ПРИБЫЛЬ</span>
				<span class="dib">
						30-70 % с покупок совершенных через вашего партнера <br>
						До 100% с первого пополнения через вашего партнера
				</span>
			</div>
			<div class="display-flex">
				<div class="referal__table-wrapper">
					<div class="refferal__table table">
						<div class="tr">
							<div class="td table-header">
								Кол-во рефералов
							</div>
							<div class="td table-header">
								% партнерского вознаграждения с платных сервисов
							</div>
						</div>
						<div class="tr">
							<div class="td">
								1-5
							</div>
							<div class="td">
								5% от суммы покупки пользователя
							</div>
						</div>
						<div class="tr">
							<div class="td">
								5 - 15
							</div>
							<div class="td">
								10% от суммы покупки пользователя
							</div>
						</div>
						<div class="tr">
							<div class="td">
								> 15
							</div>
							<div class="td">
								15% от суммы покупки пользователя
							</div>
						</div>
					</div>
				</div>
				<div class="block-note">
					Активным реффералом считается вебмастер получивший не менее 10 оплаченных регистраций
				</div>
			</div>
		</div>
	</div>

	<div class="offer">
		<div class="container">
			<div class="offer-title">Оффер для партнеров <br>с Адалт трафиком</div>
			<div class="offer-link">
				<span class="dib">Перейти</span> <i class="icon-arrow-right"></i>
			</div>
		</div>
	</div>

	<div class="rating">
		<div class="container">
			<div class="rating__title">Рейтинг веб-мастеров партнерской программы сайта знакомств Золушка project</div>
			<div class="rating__subtitle">Любой веб-мастер может убрать свое присутствие в рейтинге отметив соответствующую
				галочку в личном кабинете
			</div>

			<div class="rating-table table">
				<div class="tr">
					<div class="td">№</div>
					<div class="td ffb">Веб-мастер</div>
					<div class="td ffb">Трафик</div>
					<div class="td ffb">Регистрации</div>
					<div class="td ffb">Подтвержденные регистрации</div>
					<div class="td ffb">Доход с трафика</div>
					<div class="td ffb">Доход c покупок</div>
					<div class="td ffb">Реферальный доход</div>
				</div>
				<div class="table-group" data-bind="foreach: webmasters_table">
					<div class="tr">
						<div class="td" data-bind="text: webmaster().number"></div>
						<div class="td">
							<img src="" alt="" data-bind="attr: {src: webmaster().ava}">
						</div>
						<div class="td"><span class="rating-table__value" data-bind="text: webmaster().name"></span></div>
						<div class="td"><span class="rating-table__value" data-bind="text: webmaster().traffic"></span></div>
						<div class="td"><span class="rating-table__value" data-bind="text: webmaster().regs"></span></div>
						<div class="td"><span class="rating-table__value" data-bind="text: webmaster().confs"></span></div>
						<div class="td"><span class="rating-table__value" data-bind="text: webmaster().regs_income"></span></div>
						<div class="td"><span class="rating-table__value" data-bind="text: webmaster().ref_income"></span></div>
					</div>
				</div>
			</div>

			<div class="-text-center">
				<a href="#" class="button">Присоединиться</a>
			</div>
		</div>
	</div>

	<!-- START paybacks -->
	<div class="paybacks">
		<div class="container">
			<div class="block-title">Способы выплат</div>
			<div class="paybacks__subtitle">Вы можеет выводить средства всеми указанными ниже способами</div>

			<div class="paybacks__grid display-flex space-between mb70">
				<div class="paybacks__item">
					<i class="icon-pc"></i>
					<span class="dib">
						Электорнные <br>платежи
					</span>
				</div>
				<div class="paybacks__item">
					<i class="icon-pc"></i>
					<span class="dib">
						Платежные  <br>карты
					</span>
				</div>
				<div class="paybacks__item">
					<i class="icon-pc"></i>
					<span class="dib">
						Банковский <br>перевод
					</span>
				</div>
				<div class="paybacks__item">
					<i class="icon-pc"></i>
					<span class="dib">
						Наличный <br>перевод
					</span>
				</div>
			</div>

			<div class="paybacks__grid display-flex space-between">
				<div class="paybacks__item">
					<i class="icon-webmoney"></i>
				</div>
				<div class="paybacks__item">
					<i class="icon-yad"></i>
				</div>
				<div class="paybacks__item">
					<i class="icon-qiwi"></i>
				</div>
				<div class="paybacks__item">
					<i class="icon-paypal"></i>
				</div>
				<div class="paybacks__item">
					<i class="icon-visa"></i>
				</div>
			</div>
		</div>
	</div>
	<!-- // END paybacks -->

	<!-- START reason -->
	<div class="reason">
		<div class="container">
			<div class="reason__header">
				<div class="display-flex space-between">
					<div class="block-title">
						<p>Зачем мы это делаем?</p>
						<p>Все просто:</p>
					</div>
					<div class="reason__numbers">
						<div class="display-flex space-between">
							<div class="reason__number dating">
								<p class="dating__title">Дейтинг в России</p>
								<p class="dating__number">$ 50 млн/мес</p>
								<p class="dating__descr">11 млн. человек в месяц</p>
							</div>
							<div class="reason__number dating">
								<p class="dating__title">Дейтинг в Мире</p>
								<p class="dating__number">$ 5 млрд/год</p>
								<p class="dating__descr">Прирост 10% в год</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="reason__content">
				<div class="reason__content-title">Партнерские программы сайтов знакомств</div>

				<div class="reason__content-text">
					<p>Дейтинг-сервисы в последнее время испытывают настоящий бум. По оценкам экспертов, объем отечественного рынка
					онлайн-знакомств составляет порядка $50 млн с ежемесячной аудиторией в 11 млн человек. В то же время
					отечественным компаниям есть куда стремиться.</p>

					<p>Мировой объем рынка интернет-знакомств к концу года приблизится
					к $5 млрд с ежегодным приростом почти на 10 %. Дейтинговые сервисы, нащупывая тренды, в погоне за прибылью
					ищут своего пользователя, становясь все более нишевыми. От этих тенденций стараются не отставать и наши
					разработчики.</p>

					<p>Одним из примеров таких нишевых сервисов в России является созданный год назад продукт «Золушка
					Project», нацеленный только на тех, кто ищет так называемые «отношения по расчету». Сейчас принято расширение
					расширять бизнес и поэтому мы запускаем партнерскую программу.</p>
				</div>

				<i class="icon-broken-heart"></i>
			</div>
		</div>
	</div>
	<!-- // END reason -->

	<!-- START bottom-form -->
	<div class="bottom-form">
		<div class="container small">
			<div class="block-title white">
				Присоединиться к партнерской программе
			</div>
			<form action="#">
				<div class="display-flex space-between">
					<div class="dib">
						<input type="email" placeholder="Е-mail">
					</div>
					<div class="dib">
						<input type="password" placeholder="Пароль">
					</div>
					<div class="dib">
						<button class="button purple">Зарегистрироваться</button>
					</div>
				</div>

				<p class="policy-agreement">
					<input type="checkbox"> Регистрируясь, вы подтверждаете, что ознакомились с правилами работы партнерской программы.
				</p>
				<p class="partner-office">Партнерский отдел: <a href="mailto:partners@denim-app.ru" class="inherit">partners@denim-app.ru</a></p>
			</form>
		</div>
	</div>
	<!-- // END bottom-form -->
{% endblock %}