<footer class="footer purple">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="#"><img src="images/logo-footer.png"></a>
                <div>&#169;2016
                    <a href="#">Биржа.kz</a>
                </div>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li>Сотрудничество</li>
                    <li><a href="#">Продавцу</li>
                    <li><a href="#">Покупателю</li>
                    <li><a href="#">Правила биржи</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li>Контакты</li>
                    <li>моб.:<a href="tel:87079076570">+7 707 907-65-70</a></li>
                    <li>e-mail:<a href="mailto:info@биржа.kz">info@биржа.kz</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="soc-b">
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-instagram"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-vk"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-classmates"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-mail-ru"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-f"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-twitter"></i>
                        </a>
                    </li>
                    <li class="soc-b__item">
                        <a class="soc-b__link" href="#">
                            <i class="soc-b__ico soc-b__ico-g-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</footer>