<footer class="page-footer bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4 bdr-r-a-gradient">
                <div class="logo footer">
                    <a class="logo__link" href="#">
                        <img class="img-responsive" src="" alt="" title="kupitrend.kz">
                    </a>
                </div>
                <div class="call footer">
                    <a class="call__toggle">
                        <div class="circle big white va-m-b mr-20"><i class="icon icon-tel"></i></div>
                    </a>
                    <div class="call__link-wrap va-m-b">
                        <a class="call__link" href="tel:+77776665544">+7 777 666 55 44</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-5 bdr-r-a-gradient">
                        <nav class="navbar footer">
                            <p class="tt-u c-white">Меню</p>
                            <ul class="navbar-nav nav">
                                <li class="active"><a href="#">Главная</a></li>
                                <li><a href="#">Условия оплаты</a></li>
                                <li><a href="#">Доставка</a></li>
                                <li><a href="#">Гарантии</a></li>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Поставщикам</a></li>
                                <li><a href="#">Отзывы</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-7 bdr-r-a-gradient">
                        <p class="tt-u c-white mb-20">Условия оплаты</p>
                        <ul class="payments">
                            <li class="payments__item">
                                <a class="payments__link" href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                            <li class="payments__item">
                                <a class="payments__link" href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                            <li class="payments__item">
                                <a class="payments__link" href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="tt-u c-white mb-20">Мы в соцсетях</p>
                        <ul class="soc">
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-vk"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-classmates"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-mail-ru"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <div class="subscription">
                    <p class="tt-u c-white fs-20">Подписаться на рассылку: скидки, акции, новинки!</p>
                    <input type="text" title="email">
                    <button type="submit">Подписаться</button>
                    <div>
                        <a class="subscription__link" href="#">Личный кабинет</a>
                    </div>
                </div>
                <div class="counter"></div>
            </div>
        </div>
    </div>
</footer>