<header class="page-header">
    <section class="bg-light-gray">
        <nav class="navbar header" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Burger menu button</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav nav">
                        <li class="active"><a href="#">Главная</a></li>
                        <li><a href="#">Условия оплаты</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Гарантии</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Поставщикам</a></li>
                        <li><a href="#">Отзывы</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <ul class="navbar-right nav">
                    <li class="navbar-right__item">
                        <ul class="soc">
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-vk"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-classmates"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-mail-ru"></i>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link"  href="#">
                                    <i class="icon icon-f"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-right__item">
                        <div class="authorisation">
                            <div class="authorisation__inner">
                                <a class="authorisation__link" href="#">Регистрация</a>
                            </div>
                            <div class="dropdown authorisation__inner hidden">
                                <a href="#" class="dropdown-toggle authorisation__link" data-toggle="dropdown">
                                    <span>Здравствуйте, Пользователь</span><b class="caret"></b>
                                </a>
                                <div class="dropdown-menu authorisation__popup">
                                    <ul class="authorisation__popup-list">
                                        <li class="authorisation__popup-item">
                                            <a class="authorisation__popup-link-selection" href="#">Мои заказы</a>
                                        </li>
                                        <li class="authorisation__popup-item">
                                            <a class="authorisation__popup-link-selection" href="#">Мои желания</a>
                                        </li>
                                        <li class="authorisation__popup-item">
                                            <a class="authorisation__popup-link-selection" href="#">Настройки</a>
                                        </li>
                                    </ul>
                                    <div class="text-right">
                                        <a class="authorisation__popup-link-exit" href="#">Выход</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown authorisation__inner">
                                <a href="#" class="dropdown-toggle authorisation__link" data-toggle="dropdown">
                                    <i class="icon icon-person mr-10"></i><span>Войти в кабинет</span><b class="caret"></b>
                                </a>
                                <div class="dropdown-menu authorisation__popup">
                                    <p class="fs-12">С помощью социальной сети:</p>
                                    <div>
                                    <ul class="soc mb-15">
                                        <li class="soc__item">
                                            <a class="soc__link" href="#">
                                                <i class="icon icon-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="soc__item">
                                            <a class="soc__link"  href="#">
                                                <i class="icon icon-vk"></i>
                                            </a>
                                        </li>
                                        <li class="soc__item">
                                            <a class="soc__link"  href="#">
                                                <i class="icon icon-classmates"></i>
                                            </a>
                                        </li>
                                        <li class="soc__item">
                                            <a class="soc__link"  href="#">
                                                <i class="icon icon-mail-ru"></i>
                                            </a>
                                        </li>
                                        <li class="soc__item">
                                            <a class="soc__link"  href="#">
                                                <i class="icon icon-f"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="fs-12">Или пройдите простую регистрацию на нашем сайте:</p>
                                    <form>
                                        <div class="form-group">
                                            <input type="text" class="input input-default mb-10" title="login" placeholder="Логин">
                                            <input type="password" class="input input-default" title="login" placeholder="Пароль">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-default btn-sm">Зарегистрироваться</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="page-header__info">
        <div class="container">
            <div  class="row">
                <div class="col-md-4 bdr-r-a-gray">
                    <div class="logo">
                        <a class="logo__link" href="#">
                            <img class="img-responsive" src="images/logo-color.png" alt="" title="kupitrend.kz">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 bdr-r-a-gray">
                    <div class="row info-box">
                        <div class="col-md-6 fs-0">
                            <div class="info-box__item">
                                <i class="icon icon-box mr-10"></i>
                                <span class="info-box__text fs-11 c-blue">Товары в наличии на складе РК</span>
                            </div>
                        </div>
                        <div class="col-md-6 fs-0">
                            <div class="info-box__item">
                                <i class="icon icon-auto mr-10"></i>
                                <span class="info-box__text fs-11 c-blue">Доставка по РК за 5 дней</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row call header">
                        <div class="col-md-7">
                            <div class="call__link-wrap va-m-b">
                                <a class="call__link" href="tel:+77776665544">+7 777 666 55 44</a>
                            </div>
                        </div>
                        <div class="col-md-5 fs-0">
                            <a class="call__toggle">
                                <i class="icon icon-tel-orange mr-10"></i><span class="call__toggle-text">Перезвонить мне</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-blue service">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="search">
                        <form class="search__form">
                            <div class="search__entry-field">
                                <input type="text" class="search__input" placeholder="поиск в каталоге">
                                <button type="submit" class="search__btn">
                                    <i class="icon icon-loupe"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-8 text-right">
                    <ul class="service__list">
                        <li class="service__item">
                            <a class="service__link" href="#"><span>Акции</span><i class="icon icon-gift-white ml-10"></i>
                            </a>
                        </li>
                        <li class="service__item">
                            <a class="service__link" href="#"><span>Мои желания</span><i class="icon icon-heart ml-10"></i>
                            </a>
                        </li>
                        <li class="service__item">
                            <a class="service__link" href="#">
                                <span>Корзина пуста, всего 0 тг.</span><i class="icon icon-cart ml-10"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>