<header>
    <section class="bg-light-gray">
        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav nav-left">
                        <li class="brdr-r-blue active"><a href="#">Главная</a></li>
                        <li class="brdr-r-blue"><a href="#">Условия оплаты</a></li>
                        <li class="brdr-r-blue"><a href="#">Доставка</a></li>
                        <li class="brdr-r-blue"><a href="#">Гарантии</a></li>
                        <li class="brdr-r-blue"><a href="#">О компании</a></li>
                        <li class="brdr-r-blue"><a href="#">Контакты</a></li>
                        <li class="brdr-r-blue"><a href="#">Новости</a></li>
                        <li class="brdr-r-blue"><a href="#">Поставщикам</a></li>
                        <li class="brdr-r-blue"><a href="#">Отзывы</a></li>
                    </ul>
                    <ul class="nav navbar-right">
                        <li><a href="#">Регистрация</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Войти в кабинет<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Действие</a></li>
                                <li><a href="#">Другое действие</a></li>
                                <li><a href="#">Что-то еще</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Отдельная ссылка</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </section>
    <section class="bg-blue">
        <nav class="navbar" role="navigation">
            <div class="container">
                <form class="navbar-form navbar-left" role="search">
                    <div class="navbar-form__search-input">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">Отправить</button>
                    </div>
                </form>
                <ul class="nav navbar-right">
                    <li><a href="#">Акции</a><i class="icon"></i></li>
                    <li><a href="#">Мои желания</a><i class="icon"></i></li>
                    <li><a href="#">Корзина пуста, всего 0 тг.</a><i class="icon"></i></li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="banner-wrap">
        <div class="container">
            <div class="fs-0">
                <div class="banner-left">
                    <div class="banner-img"></div>
                </div>
                <div class="banner-right">
                    <div class="banner-img"></div>
                </div>
            </div>
        </div>
    </section>
</header>