<header class="header display-flex">
	<div class="flex-item"><a href="#" class="logo"></a></div>
	<div class="flex-item">
		<nav class="header-menu">
			<ul class="header-menu__listing">
				<li class="header-menu__item active">
					<a href="#" class="header-menu__link">Партнерская программа</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Адалт проектам</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="flex-item">
		<div class="header-right">
			<div class="header-right-nav">
				<a class="header-right-nav__link" href="#">Рекламные материалы</a>
				<a class="header-right-nav__link" href="#">Правила</a>
			</div>
			<div class="header-right-activities">
				<div class="dropdown-wrapper">
					<div class="dropdown__current">
						Вход
					</div>
					<div class="dropdown__listing">
						<div class="dropdown__item">
							<a href="#" class="dropdown__link">Вход</a>
						</div>
						<div class="dropdown__item">
							<a href="#" class="dropdown__link">Регистрация</a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-right-lang">
				<div class="dropdown-wrapper">
					<div class="dropdown__current">
						<i class="icon-lang__rus"></i> <span class="header-right-lang__label dib vam">RU</span>
					</div>
					<div class="dropdown__listing">
						<div class="dropdown__item">
							<a href="#" class="dropdown__ling">
								<i class="icon-lang__eng"></i> <span class="header-right-lang__label dib vam">RU</span>
							</a>
						</div>
						<div class="dropdown__item">
							<a href="#" class="dropdown__ling">
								<i class="icon-lang__eng"></i> <span class="header-right-lang__label dib vam">RU</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>