<div class="header-wrapper">
	<header class="header">
		<div class="container display-flex space-between flex-middle">
			<div class="flex-item"><a href="#" class="logo"></a></div>
			<div class="flex-item">
				<nav class="header-menu">
					<ul class="header-menu__listing fz18 clean-element">
						<li class="header-menu__item active">
							<a href="#" class="header-menu__link">Партнерская программа</a>
						</li>
						<li class="header-menu__item">
							<a href="#" class="header-menu__link">Адалт проектам</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="flex-item">
				<div class="header-right">
					<div class="header-right-nav dib fz14">
						<a class="header-right-nav__link" href="#">Рекламные материалы</a>
						<a class="header-right-nav__link" href="#">Правила</a>
					</div>
					<div class="header-right-activities dib mr5">
						<div class="login-trigger fz14">
							Вход
						</div>
						<!-- START login-bar -->
						<div class="login-bar hidden">
							<i class="close-popup" data-close-login-bar></i>
							<form action="#">
								<div class="login-bar__title fz16 ff-semibold mb20">Введите логин и пароль от своего аккаунта</div>
								<div class="display-flex space-between mb20">
									<div class="dib w38">
										<input type="text" class="db" placeholder="E-mail">
									</div>
									<div class="dib w38">
										<input type="text" class="db" placeholder="Пароль">
									</div>
									<div class="dib w20">
										<button class="button purple db">Войти</button>
									</div>
								</div>
								<div class="login-bar__bottom-links">
									<a href="#" class="purple-link mr10 tdn">Напомнить пароль</a>
									<a href="#" class="purple-link tdn">Регистрация</a>
								</div>
							</form>
						</div>
						<!-- // END login-bar -->
					</div>
					<div class="header-right-lang dib">
						<div class="dropdown-wrapper">
							<div class="dropdown__current">
								<i class="icon-lang__rus"></i> <span class="header-right-lang__label dib vam">RU</span>
							</div>
							<div class="dropdown__listing hidden">
								<div class="dropdown__item lang-dropdown__item">
									<a href="#" class="dropdown__link">
										<i class="icon-lang__eng"></i> <span class="header-right-lang__label dib vam">EN</span>
									</a>
								</div>
								<div class="dropdown__item">
									<a href="#" class="dropdown__link">
										<i class="icon-lang__spain"></i> <span class="header-right-lang__label dib vam">ES</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	{{ mainScreen }}
</div>