<header class="header">
    <div class="container mb-35">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <a href="#"><img src="images/logo-header.png"></a>
            </div>
            <div class="col-lg-9 service-b">
                <div class="tel-b line-vertical-gray">
                    <div class="tel-b__ico-wrap">
                        <i class="ico ico-tel"></i>
                    </div>
                    <div class="tel-b__links">
                        <a class="tel-b__number" href="tel:87079076570">+7 707 907-65-70</a>
                        <a class="link link_blue link_blue-medium-reg" href="#">Заказать звонок</a>
                    </div>
                </div>
                <div class="search-b hidden-md line-vertical-gray">
                    <a class="link link_blue link_blue-medium-reg mb-15" href="#">Вопрос юристу</a>
                    <form>
                        <div class="search-b__entry-field-wrap">
                        <input class="form-control search-b__entry-field" type="text" placeholder="поиск по лотам">
                        <button class="search-b__btn"><i class="ico ico-magnifier"></i></button>
                        </div>
                    </form>
                </div>
                <div class="links-b line-vertical-gray">
                    <a class="link link_blue link_blue-medium-reg mb-10" href="#">Личный кабинет</a>
                    <a class="link link_blue link_blue-medium-reg mb-20" href="#">Регистрация</a>
                    <a class="link link_blue link_blue-medium-reg" href="#">Юридическая помощь</a>
                </div>
            </div>
        </div>
    </div>
    <section class="blue">
        <div class="container">
            <nav class="navbar navbar-default menu" role="navigation">
                <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list-left">
                            <li class="menu__item-left">
                                <a class="menu__link-left" href="#">
                                    <i class="menu__ico"></i>Главная</a>
                            </li>
                            <li class="menu__item-left">
                                <a class="menu__link-left" href="#">
                                    <i class="menu__ico"></i>Правила и
                                    термины БИРЖИ</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right menu__list-right">
                            <li class="menu__item-left">
                                <a class="menu__link-right" href="#">Просмотреть лоты</a>
                            </li>
                        </ul>
                    </nav><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </section>
</header>