<div class="overlay">

	<div class="table">
		<div class="td">
			<div class="popup success -text-center">
				<i class="icon-success mb20"></i>
				<div class="popup__title ff-semibold fz18 mb20">
					Вы зарегистированы!
				</div>
				<div class="popup__content mb20">
					Для получения доступа к панели веб-мастера перейдите по ссылке в письме, которое мы отправили на info@me.com
				</div>
				<a href="#" class="button empty">Войти в панель</a>
			</div>
		</div>
	</div>

</div>