<div class="overlay">

	<div class="table">
		<div class="td">
			<!-- START popup registration done -->
			<div class="popup dib success -text-center hidden">
				<i class="icon-success mb20"></i>
				<div class="popup__title ff-semibold fz18 mb20">
					Вы зарегистированы!
				</div>
				<div class="popup__content mb20">
					Для получения доступа к панели веб-мастера перейдите по ссылке в письме, которое мы отправили на info@me.com
				</div>
				<a href="#" class="button empty">Войти в панель</a>
			</div>
			<!-- // END popup registration done -->

			<!-- START rules-popup -->
			<div class="popup dib -text-center rules-popup">
				<i class="close-popup"></i>
				<div class="block-title mb50">Правила работы партнерской программы</div>
				<div class="popup__content -text-left mb30">
					<p class="mb20">Пользовательское соглашение</p>
					<p class="mb20">Последние обновления:04.12.2011 <br>Становясь участником партнерской программы
						для вебмастеров Runetki.com (далее «Партнерская программа») Вы (далее – «Партнер», «Вы») заключаете договор
						с Компанией (далее – «Компания», «Мы»). В ДАННОМ ДОГОВОРЕ ИЗЛОЖЕНЫ УСЛОВИЯ, ПОЛОЖЕНИЯ И ПРАВИЛА ПРОГРАММЫ,
						СОГЛАСНО КОТОРЫМ ВЫ ИМЕЕТЕ ПРАВО УЧАСТВОВАТЬ В ПАРТНЕРСКОЙ ПРОГРАММЕ КОМПАНИИ. УЧАСТВУЯ В ПАРТНЕРСКОЙ
						ПРОГРАММЕ КОМПАНИИ И/ИЛИ НАЖАВ НА «Я ПРИНИМАЮ УСЛОВИЯ СОГЛАШЕНИЯ» НА СТРАНИЦЕ РЕГИСТРАЦИИ, ВЫ ПОДТВЕРЖДАЕТЕ,
						ЧТО ВЫ ПРОЧИТАЛИ, ПОНЯЛИ И ПРИНИМАЕТЕ ДАННОЕ СОГЛАШЕНИЕ И СОГЛАСНЫ ВЫПОЛНЯТЬ ВСЕ УСЛОВИЯ И ПРАВИЛА
						ПРОГРАММЫ,
						ИЗЛОЖЕННЫЕ НИЖЕ:</p>
					<p>1. Все Партнеры, контактные лица Партнера и получатели платежей Партнера должны быть
						совершеннолетними в соответствии с действующим законодательством той местности, где они проживают и/или
						ведут
						свою деятельность. При этом для участия в Партнерской программе они в любом случае должны быть не моложе 18
						лет. Вы подтверждаете и гарантируете, что Вы достигли совершеннолетия в соответствии с законодательством
						государства или местности, где Вы проживаете и ведете свою деятельность.</p>
					<p>2. В соответствии с Правилами
						Партнерской программы, а также в соответствии с Условиями и Положениями данного Договора Мы
						предоставляем:</p>
					<p>2.1. Неисключительное, непередаваемое и отзывное право и разрешение создавать авторизованные ссылки с
						Вашего
						вебсайта на один и более сайтов Компании, за которые Вы имеете право получать вознаграждение за посетителей,
						привлеченных на один или более вебсайтов Компании в соответствии с условиями данного Договора при условии,
						что
						все было сделано в соответствии со всеми условиями и положениями данного Договора;</p>
					<p>2.2. Неисключительное,
						непередаваемое и отзывное право и разрешение на показ на Вашем вебсайте материалов Компании, включая, но не
						ограничиваясь, баннерами, текстовыми ссылками, графическими изображениями и текстами (далее все вместе
						именуемые как «Материалы программы»), исключительно с целью рекламы продукции и услуг, предоставляемых в
						соответствии с Партнерской программой, предлагая посетителям Вашего вебсайта перейти на вебсайт(ы) Компании.
						ИСПОЛЬЗОВАТЬ ВЫШЕУКАЗАННЫЙ КОНТЕНТ ДЛЯ РЕКЛАМЫ И ПРОДВИЖЕНИЯ ВЕБСАЙТОВ, НЕ ЯВЛЯЮЩИХСЯ СОБСТВЕННОСТЬЮ И НЕ
						УПРАВЛЯЕМЫХ КОМПАНИЕЙ, СТРОГО ЗАПРЕЩЕНО.</p>
					<p>2.3. Вы понимаете и соглашаетесь, что Компания является и навсегда
						останется единственным владельцем предоставленных Вам Материалов программы в соответствии с положениями
						данного Договора. Материалы программы могут использоваться Вами исключительно для привлечения пользователей
						или субпартнеров. Любое иное копирование, воспроизведение, изменение, трансляция, распространение, передача,
						продажа или аренда Материалов программы каким бы то ни было образом запрещено, включая, но не ограничиваясь
						загрузкой Материалов программы на сервера обмена видео, такие как (но не ограничиваясь) Pornotube.com и
						Xtube.com в какое бы то ни было время и в каком бы то ни было месте мира, за исключением случаев, когда на
						это
						получено письменное разрешение Компании.</p>
					<p>2.4. Вы соглашаетесь, что Ваше участие в Партнерской программе
						Компании может быть прекращено Компанией в любое время по любой причине или без причины. При этом Компания
						уведомит Вас об этом, а Вы согласны, что сразу же по получении уведомления прекратить использование всех
						Материалов Партнерской программы и удалите все Материалы Партнерской программы и всю информацию о Компании и
						ее вебсайтах со своего вебсайта, включая любые рекламные или маркетинговые материалы.</p>
					<p>3. В ответ на
						предоставление Компанией всех Материалов Партнерской программы и прочих преимуществ Партнерской программы Вы
						предоставляете, понимаете, соглашаетесь и гарантируете Компании следующее:</p>
				</div>
				<div class="popup__buttons display-flex space-between flex-middle">
					<div class="flex-item">
						<a href="#" class="button mr10">Принять и продолжить</a>
						<a href="#" class="button empty">Отказаться</a>
					</div>
					<div class="flex-item">
						<a href="#" class="close-popup__text-button ff-semibold">Закрыть</a>
					</div>
				</div>
			</div>
			<!-- // END rules-popup -->
		</div>
	</div>

</div>