<div class="sidebar">
    <div class="catalog-nav">
        <div class="catalog-nav__header"><i class="icon icon-catalog mr-10"></i><span class="va-m">Каталог товаров</span></div>
        <ul class="catalog-nav__list">
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-gadget mr-10"></i>
                        </span>
                        Гаджеты и аксессуары
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-gadget">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-gadget" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-clock mr-10"></i>
                        </span>
                            Часы
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-clock">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-clock" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-cream mr-10"></i>
                        </span>
                        Красота и здоровье
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-beauty">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-beauty" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-sport mr-10"></i>
                        </span>
                            Спорт и отдых
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-mouse mr-10"></i>
                        </span>
                        1000 мелочей
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-wheel mr-10"></i>
                        </span>
                        Автоаксессуары
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-auto-accessories">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-auto-accessories" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-purse mr-10"></i>
                        </span>
                        Модные аксессуары
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-fashion-accessories">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-fashion-accessories" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-toy mr-10"></i>
                        </span>
                        Детские игрушки
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-headphones mr-10"></i>
                        </span>
                        Продукция Remax
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-lamp mr-10"></i>
                        </span>
                        Светодиодное освещение
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-instruments mr-10"></i>
                        </span>
                        Инструменты
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-gift-gray mr-10"></i>
                        </span>
                        Новогодние товары
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-new-year">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-new-year" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 1</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 2</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Подпункт меню 3</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-bed mr-10"></i>
                        </span>
                        Текстиль
                    </a>
                </div>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-cigarette mr-10"></i>
                            </span>
                            Товары для вейпинга
                    </a>
                    <a class="catalog-nav__toggle" data-toggle="collapse" data-parent="#accordion" href="#catalog-nav__list-vaping">
                        <i class="icon icon-plus-gray abs-center"></i>
                    </a>
                </div>
                <ul id="catalog-nav__list-vaping" class="catalog-nav__list collapse">
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Жидкости для вейпинга</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Электронные испарители</a>
                    </li>
                    <li class="catalog-nav__item snd-lvl">
                        <a class="catalog-nav__link snd-lvl" href="#">Батарейные моды</a>
                    </li>
                </ul>
            </li>
            <li class="catalog-nav__item fst-lvl">
                <div class="catalog-nav__link-wrap">
                    <a class="catalog-nav__link" href="#">
                        <span class="catalog-nav__icon">
                            <i class="icon icon-glasses mr-10"></i>
                        </span>
                        Виртуальная реальность
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="catalog-filter">
        <div class="catalog-filter__item">
            <div class="catalog-filter__param-header-wrap">
                <h5 class="catalog-filter__param-header clean">Выбор по параметрам</h5>
            </div>
            <div class="catalog-filter__item-inner">
                <p>Цена</p>
                <form class="catalog-filter__form">
                    <div class="mb-15">
                        <span>от</span>
                        <span class="catalog-filter__input-text-wrap">
                            <input type="text" id="slider-range-start-price" class="input-text input-text-default input-text-xs" title="от" data-input-value="">
                        </span>
                        <span>до</span>
                        <span class="catalog-filter__input-text-wrap">
                            <input type="text" id="slider-range-finish-price" class="input-text input-text-default input-text-xs" title="до" data-input-value="">
                        </span>
                        <button type="submit" class="btn btn-default btn-xs">Показать</button>
                    </div>
                    <div>
                        <input type="range" class="slider-range" value="" data-slider-min="10" data-slider-max="1000000" data-slider-step="10" data-slider-value="[300000,700000]" title="Цена">
                    </div>
                </form>
            </div>
        </div>
        <div class="catalog-filter__item">
            <div class="catalog-filter__param-header-wrap">
                <h5 class="catalog-filter__param-header clean">Торговые марки</h5>
            </div>
            <div class="catalog-filter__item-inner">
                <form class="catalog-filter__form">
                    <div class="catalog-filter__radio-wrap">
                        <label class="radio">
                            <input type="radio" class="radio__switch" name="radio-mark">
                            <i class="radio__switch-imitator"></i>
                            Марка 1
                        </label>
                    </div>
                    <div class="catalog-filter__radio-wrap">
                        <label class="radio">
                            <input type="radio" class="radio__switch" name="radio-mark">
                            <i class="radio__switch-imitator"></i>
                            Марка 2
                        </label>
                    </div>
                    <div class="catalog-filter__radio-wrap">
                        <label class="radio">
                            <input type="radio" class="radio__switch" name="radio-mark">
                            <i class="radio__switch-imitator"></i>
                            Марка 3
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>